@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #050606;
  transition: background-color 1s ease;
}
.whtBg {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
.navBlur {
  backdrop-filter: saturate(180%) blur(7px);
}
.navGradient {
  background: rgb(209, 69, 209);
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #0affb4 0%,
    #29bdff 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #0affb4 0%,
    #29bdff 100%
  );
  background: radial-gradient(
    circle farthest-corner at center center,
    #0affb4 0%,
    #29bdff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
  background: conic-gradient(
    from 0.25turn at 25% 0%,
    #ffd9ce,
    rgba(#ffd9ce, 0) 50%
  );
}
